<footer class="text-center text-muted py-3">
    <div>
        <img src="assets/images/logo.jpg" alt="Evento live" class="img-fluid mb-3" width="80">
        <img src="assets/images/qr.jpg" alt="Evento live" class="img-fluid mb-3" width="80">
    </div>
    <p style="color: #ffc107;">&copy; 2025 Mislav di Bon Dennis - P.IVA 04362600274 - C.F. BNODNS63P30Z112R - SDI:
        X2PH38J</p>
    <p style="color: #ffc107;">Via Praello, 159 – 30020 Marcon (VE)</p>
    <p>
        <a href="/privacy.html" target="_blank" style="color: #ffc107;">Privacy</a> |
        <a href="/cookie-policy.html" target="_blank" style="color: #ffc107;">Cookie Policy</a> |
        <a href="/termini-condizioni-vendita.html" target="_blank" style="color: #ffc107;">Condizioni di Vendita</a> |
        <a href="/termini-uso-sito.html" target="_blank" style="color: #ffc107;">Termini d'Uso</a> |
        <a href="/reso-rimborso-digitali.html" target="_blank" style="color: #ffc107;">Resi e Rimborsi</a>
    </p>
    
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QXS252GK3J"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-QXS252GK3J');
</script>
</footer>